# Ignore the following directories
OBSERVATIONS/*
PLOTS/main_plots/*
PLOTS/side_plots/plots_verif/FSS/*
PLOTS/side_plots/plots_verif/SAL/*
PLOTS/side_plots/plots_verif/gif_frames/*
PLOTS/side_plots/plots_verif/panels/*
SIMULATIONS/*
config/Case/*
config/exp/*
pickles/FSS/*
pickles/SAL/*
main.sh
PLOTS/side_plots/plots_IMERG_pcp/*
PLOTS/side_plots/plots_OPERA_rain/*
PLOTS/side_plots/plots_Antilope_pcp/*
PLOTS/side_plots/plots_MTGLI_flash/*
scripts/libs/__pycache__/*
standalones/*
tomls/*


# Except this file
!config/Case/config_Spain_202205.yaml
!config/exp/config_AIB_46h1_de2.yaml
!config/exp/config_VAL500m_46h1_de2.yaml
